.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-modal__code-wrapper {
	display: flex;
	align-items: center;
	column-gap: 40px;
	@media (max-width: 767px) {
		column-gap: 20px;
		justify-content: space-between;
	}
	@media (max-width: 350px) {
		flex-direction: column;
		row-gap: 10px;
	}
}