.App {
  text-align: center;
  height: 150vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-modal__code-wrapper {
	display: flex;
	align-items: center;
	column-gap: 40px;
	@media (max-width: 767px) {
		column-gap: 20px;
		justify-content: space-between;
	}
	@media (max-width: 350px) {
		flex-direction: column;
		row-gap: 10px;
	}
}



.ReactModalPortal .ReactModal__Overlay {
  display: flex;
		justify-content: center;
		//align-items: center;
		background-color: rgba(0, 0, 0, 0.05) !important;
		backdrop-filter: blur(6px);
		z-index: 10030;
    position: absolute;
    bottom: 0
}

.ReactModal__Overlay .ReactModal__Content {
  position: relative !important;
  width: auto;
  height: auto;
  border: none !important;
  border-radius: 8px !important;

}

.form-group.code {
	flex-direction: column;
	
	
}

.form-group.code .styles_react-code-input__CRulA {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 20px !important;
}


.styles_react-code-input__CRulA > input {
  min-width: 43px !important;
  height: 44px !important;
  border: 1px solid #dfdede;
  border-radius: 6px;
  background: transparent;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
    width: 30px !important;
  }
}

.form-group.code .styles_react-code-input-container__tpiKG {
  width: 100% !important;
  @media (max-width: 767px) {
    width: 275px !important;
  }
}