.auth-modal {
	padding: 24px;
	box-shadow: 0 10px 32px rgba(45, 53, 72, 0.08), 0 0 2px rgba(45, 53, 72, 0.15);
	border-radius: 24px;
	background-color: var(--color-white);
	width: 100%;
	height: 100%;
	text-align: center;
	@media (max-width: 767px) {
		max-height: 55%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 24px 24px 0 0;
	}
}

.auth-modal__logo {
	max-width: 157px;
	margin-bottom: 24px;
}

.auth-modal__title {
	margin-bottom: 8px;
}

.auth-modal__form {
	margin-top: 24px;
}

.auth-modal__input-wrapper {
	position: relative;
}

.auth-modal_input-clear {
	position: absolute;
	top: 10px;
	right: 24px;
}

.auth-modal__code-wrapper {
	display: flex;
	align-items: center;
	column-gap: 40px;
	@media (max-width: 767px) {
		column-gap: 20px;
		justify-content: space-between;
	}
	@media (max-width: 350px) {
		flex-direction: column;
		row-gap: 10px;
	}
}

.auth-modal__form-actions {
	display: flex;
	column-gap: 16px;
	margin-top: 24px;

	&--reverse {
		flex-direction: row-reverse;
	}
}

.auth-modal__btn {
	flex: 1;
	font-size: 14px;
	white-space: nowrap;
	&--submit {
		background-color: var(--color-purple);
		color: var(--color-white);
	}
	&[disabled] {
		background-color: #ddd;
		color: var(--color-white);
		cursor: default !important;
	}
	&--back {
		color: var(--color-black);
	}
}

.auth-modal__form-actions {
	.auth-modal__btn {
		height: 44px;
		padding: 10px 29px;
	}
}

.auth-modal__policy {
	margin-top: 24px;
	padding-right: 24px;
	text-align: start;
	user-select: none;
	cursor: pointer;
	span {
		color: var(--color-blue);
	}
}

.auth-modal-content {
	outline: 0 !important;
	inset: 0 !important;
	position: relative !important;
	max-width: 420px;
	min-height: 384px;
	border: none !important;
	background-color: transparent !important;
	padding: 0 !important;
}

.auth-modal__footer {
	display: grid;
	grid-template-columns: auto 1fr;
	place-items: center;
}

.auth-modal__footer .custom-control-label {
	margin-bottom: 0;
}

.auth-modal .disabled.custom-control.custom-checkbox input:checked + label:before {
	background-color: #a4a4a4;
}

.ReactModal__Overlay {
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.8) !important;
	z-index: 1000;
	@media (min-width: 769px) and (max-width: 991px) {
		align-items: center;
	}
}

.auth-modal__loading {
	width: 20px;
	animation: loader 0.5s infinite linear;
}

@keyframes loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.styles_react-code-input-container__tpiKG {
	max-width: 248px;
	width: 100% !important;
}

.auth-modal .styles_react-code-input__CRulA {
	display: flex;
	column-gap: 8px;
}

.auth-modal .styles_react-code-input__CRulA input {
	font-family: "Mulish", sans-serif !important;
	border-radius: 6px;
	border: 1px solid #e0e0e0 !important;
	&:focus,
	&:hover {
		border-color: var(--color-blue) !important;
		box-shadow: 0 0 0 2px rgba(20, 177, 231, 0.2);
	}
}

.auth-modal__countdown {
	color: #cfcfcf;
	display: flex;
	align-items: center;
	column-gap: 8px;
	white-space: nowrap;
	img {
		opacity: 0.2;
	}
}

.auth-modal__error {
	color: var(--color-red);
	margin-top: 6px;
	text-align: left;
}

.input--error input[type="tel"] {
	border-color: var(--color-red) !important;
}

.auth-modal .btn {
	height: auto;
}

.auth-modal__close-btn {
	position: absolute;
	right: 16px;
	top: 16px;
}

.auth-modal__btn-refresh {
	padding: 13px 25px;
}

.unclickable {
	pointer-events: none;
	overflow: hidden;
}
